<h2><%= @employee.fullname %></h2>

<p><%= link_to "Employee's Profile", employee_profile_url(@employee)%></p>

<p><%= link_to "Edit information for #{@employee.fullname}",
            edit_employee_url(@employee) %></p>

<p><%= link_to "Delete Employee", employee_url(@employee),
	   :method => :delete %></p>

<p><%= link_to "All Employees", employees_url %></p>